/*Estilos en comun*/
*{
    margin: 0px;
    font-family: 'arial', sans-serif;
}
body{
    background-image: url('imagenes/codigo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 84px;
    background-color: #427E80;
    display: flex;
    justify-content: end;
}
.headerA{
    width: 40%;
    height: 100%;
}
.svg1{
    width: 200px;
    height: 80px;
    background-color: #427E80;
    display: flex;
    justify-content: start;
    margin-left: 40px;
}
.borde{
    width: 60px;
    height: 35px;
    animation: ease-in 5s;
    animation-iteration-count: 1;
    animation-name: a;
}
.relleno{
    width: 50px;
    height: 25px;
    animation: ease-in 5s;
    animation-iteration-count: 1;
    animation-name: a;
    animation-delay: .5s;
    opacity: 0;
    animation-fill-mode: forwards;

}
@keyframes a{
    0% {
        transform: translate(0,-10px);
        opacity: 0;
    }
    20% {
        transform: translate(0,-10px);
            opacity: 0;
    }
    30% {
        transform: translate(0,0);
        opacity: 1;
    }
    90% {
        transform: translate(0,0);
        opacity: 1;
    }
    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}
ul{
    width: 60%;
    height: 100%;
    display: flex;
    list-style: none;
    gap: 45px;
    justify-content: end;
    margin-right: 64px;
    align-items: center;
}
li{
    list-style: none;
}
.li1{
    background-color: #F0F5E4;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 3px 0px .1px #154454;
}
a{
    text-decoration: none;
    color: #154454;
    font-weight: 300;
}
.li1:active{
    transform: translate(3px, 2px);
    box-shadow: 0px 0px 0px 0px #427E80;
}
#titulo{
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: #eeeeee;
    font-size: 56px;
    text-shadow: 4px 4px #000000;
    background-color: #2D2D2D;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
#main{
    width: 100%;
    height: auto;
    background-color: #427E80;  
    display: flex;
    flex-direction: column;
}
footer{
    width: 100%;
    height: 80px;
    background-color: #1d1d1d; 
    display: flex;
    color: #ffffff;
}
.cont1His{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 85px;
}
.cont1{
    width: 50%;
    height: 100%;
    display: flex;
}
.cont2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
}
.imgFooter{
    width: 75px;
    margin-left: 40px;
    margin-right: 20px;
}
.svg2{
    margin-top: 10px;
    margin-left: 40px;
    background-color: #1D1D1D;
    width: 180px; 
}
.div1{
    line-height: 8px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.Debajo1{
    width: 100%;
    height: 10px;
    background-color: #427E80;
}
.Debajo2{
    width: 100%;
    height: 20px;
    background-color: #427E80;
}
/*Index*/
.titulos{
    color: #F0F5E4;
    font-size: 40px;
    text-shadow: 2px 2px #154454;
    font-weight: 600;
    text-align: center;
}
#T5{
    padding: 33px;
    display: flex;
    justify-content: center;
}
#T4{
    margin-top: 133px;
}
#grid{
    margin-top: 167px;
    width: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 400px;
    justify-content: space-evenly;
    padding-bottom: 225px;
}
.etiqueta{
    width: 100%;
    height: 100%;
    background-color: #F0F5E4;
    text-align: center;
    border: 5px solid #154454;
    display: grid;
}

.imgIndex{
    width: 100%;
}
.li2{
    background-color: #427E80;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 3px 0px .1px #154454;
    color: #F0F5E4;
    width: 40%;
    align-self: end;
    justify-self: center;
    margin-bottom: 20px;
}
.li2:active{
    transform: translate(3px, 2px);
    box-shadow: 0px 0px 0px 0px #427E80;
}
.pEtiq1{
    margin-top: 25px;
}
.pEtiq2{
    margin-top: 21px;
}
.a1{
    color: #ffffff;
}
/*Juego*/
.contenedorGrande{
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 33px;
}
.contenedorChico{
    width: 275px;
    height: 400px;
    background-color: grey;
    text-align: center;
    border: 2px solid;

}
.Indicacion{
    margin-top: 16px;
}
.imgRompe{
    width: 275px;
    height: 400px;
    border: transparent solid 5px;

}
.cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.reiniciar{
    width: 255px;
    height: 39px;
    color: #154454;
    font-weight: 300;
    box-shadow: 2px 3px #154454;
    background-color: #F0F5E4;
    border-radius: 10px;
    margin-top: 35px;
    margin-bottom: 100px;
}
button:active{
    transform: translate(3px, 2px);
    box-shadow: 0px 0px 0px 0px #427E80;
}

/*Historia*/
.Linea1{
    width: 100%;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
}
.Linea2{
    width: 100%;
    display: grid;
    grid-template-columns: 52.5% 47.5%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}
.Linea3{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}
.titulos{
    color: #F0F5E4;
    font-size: 40px;
    text-shadow: 2px 2px #154454;
    font-weight: 600;
    text-align: center;
}
.parrafo1{
    padding-right: 75px;
}
.parrafo2{
    padding-left: 200px;
}
.parrafo3{
    padding-right: 75px;
}
#titulo3{
    margin-left: 50px;
}
#tituloVideo{
    margin-top: 310px;
}
.video{
    width: 70%;
    height: auto;
    background-color: #000000;
    margin-left: 15%;
    margin-top: 32px;
    padding: 5px;
    margin-bottom: 100px;
}
video{
    width: 100%;
}
.barra{
    width: 100%;
    height: 50px;
    background-color: #1D1D1D;
    color: white;
    border-radius: 10px;
    display: flex;
}
.botones{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
#btn1, #btn2{
    width: 80px;
    height: 90%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 0px 1px 1px solid;
    margin-right: 20px;
    box-shadow: 2px 3px #154454;
}
button:active{
    transform: translate(2px, 3px);
    box-shadow: 0px 0px 0px 0px #1D1D1D;
}
.tiempo{
    width: 84%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: 15px;
}




















