*{
    margin: 0px;
    font-family: 'arial', sans-serif;
}
body{
    background-image: url('imagenes/codigo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 84px;
    background-color: #427E80;
    display: flex;
    justify-content: end;
}
.headerA{
    width: 40%;
    height: 100%;
}
svg{
    width: 200px;
    height: 80px;
    background-color: #427E80;
    display: flex;
    justify-content: start;
    margin-left: 40px;
}
.borde{
    width: 60px;
    height: 35px;
    animation: ease-in 5s;
    animation-iteration-count: 1;
    animation-name: a;
}
.relleno{
    width: 50px;
    height: 25px;
    animation: ease-in 5s;
    animation-iteration-count: 1;
    animation-name: a;
    animation-delay: .5s;
    opacity: 0;
    animation-fill-mode: forwards;

}
@keyframes a{
    0% {
        transform: translate(0,-10px);
        opacity: 0;
    }
    20% {
        transform: translate(0,-10px);
            opacity: 0;
    }
    30% {
        transform: translate(0,0);
        opacity: 1;
    }
    90% {
        transform: translate(0,0);
        opacity: 1;
    }
    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}
ul{
    width: 60%;
    height: 100%;
    display: flex;
    list-style: none;
    gap: 45px;
    justify-content: end;
    margin-right: 64px;
    align-items: center;
}
li{
    list-style: none;
}
.li1{
    background-color: #F0F5E4;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 3px 0px .1px #154454;
}
a{
    text-decoration: none;
    color: #154454;
    font-weight: 300;
}
.li1:hover{
    cursor: pointer;
}
.li1:active{
    transform: translate(3px, 2px);
    box-shadow: 0px 0px 0px 0px #427E80;
}
#titulo{
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: #eeeeee;
    font-size: 56px;
    text-shadow: 4px 4px #000000;
    background-color: #2D2D2D;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
#main{
    width: 100%;
    height: auto;
    background-color: #427E80;
    display: flex;
    flex-direction: column;
}
.Linea1{
    width: 100%;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
}
.Linea2{
    width: 100%;
    display: grid;
    grid-template-columns: 52.5% 47.5%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}
.Linea3{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}
.titulos{
    color: #F0F5E4;
    font-size: 40px;
    text-shadow: 2px 2px #154454;
    font-weight: 600;
    text-align: center;
}
.parrafo1{
    padding-right: 75px;
}
.parrafo2{
    padding-left: 200px;
}
.parrafo3{
    padding-right: 75px;
}
#titulo3{
    margin-left: 50px;
}
#tituloVideo{
    margin-top: 310px;
}
.video{
    width: 70%;
    height: auto;
    background-color: #000000;
    margin-left: 15%;
    margin-top: 32px;
    padding: 5px;
    margin-bottom: 100px;
}
video{
    width: 100%;
}
.barra{
    width: 100%;
    height: 50px;
    background-color: #1D1D1D;
    color: white;
    border-radius: 10px;
    display: flex;
}
.botones{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
button{
    width: 80px;
    height: 90%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 0px 1px 1px solid;
    margin-right: 20px;
    box-shadow: 2px 3px #154454;
}
button:active{
    transform: translate(2px, 3px);
    box-shadow: 0px 0px 0px 0px #1D1D1D;
}
.tiempo{
    width: 84%;
    display: flex;
    align-items: end;
    justify-content: end;
}
footer{
    width: 100%;
    height: 80px;
    background-color: #1d1d1d; 
    display: flex;
    color: #ffffff;
}
.cont1{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 85px;
}
.logo{
    width: 75px;
    margin-left: 40px;
    margin-right: 20px;
}
.cont2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
}
.div1{
    line-height: 8px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.Debajo{
    width: 100%;
    height: 20px;
    background-color: #427E80;
}