*{
    margin: 0px;
    font-family: 'arial', sans-serif;
}
body{
    background-image: url('imagenes/codigo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
}
header{
    width: 100%;
    height: 85px;
    background-color: #427E80;
    display: flex;
    justify-content: end;
}
.headerA{
    width: 40%;
    height: 100%;
}
.svg1{
    width: 200px;
    height: 80px;
    background-color: #427E80;
    display: flex;
    justify-content: start;
    margin-left: 40px;
}
.borde{
    width: 60px;
    height: 35px;
    animation: ease-in 5s;
    animation-iteration-count: 1;
    animation-name: a;
}
.relleno{
    width: 50px;
    height: 25px;
    animation: ease-in 5s;
    animation-iteration-count: 1;
    animation-name: a;
    animation-delay: .5s;
    opacity: 0;
    animation-fill-mode: forwards;

}
@keyframes a{
    0% {
        transform: translate(0,-10px);
        opacity: 0;
    }
    20% {
        transform: translate(0,-10px);
            opacity: 0;
    }
    30% {
        transform: translate(0,0);
        opacity: 1;
    }
    90% {
        transform: translate(0,0);
        opacity: 1;
    }
    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}
ul{
    width: 60%;
    height: 100%;
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: end;
    margin-right: 60px;
    align-items: center;
}
li{
    list-style: none;
}
.li1{
    background-color: #F0F5E4;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 3px 0px .1px #154454;
}
a{
    text-decoration: none;
    color: #000000;
}
.li1:hover{
    cursor: pointer;
}
.li1:active{
    transform: translate(3px, 2px);
    box-shadow: 0px 0px 0px 0px #427E80;
}
#titulo{
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: #ffffff;
    font-size: 56px;
    text-shadow: 4px 4px #000000;
    background-color: #2D2D2D;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #427E80;
    
}
h2{
    font-size: 40px;
    padding: 30px;
    color: #F0F5E4;
    text-shadow: 1.5px 1.5px #2D2D2D;
    display: flex;
    justify-content: center;
}
#grid{
    margin-top: 167.5px;
    width: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 400px;
    justify-content: space-evenly;
}
.etiqueta{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    border: 5px solid #154454;
    display: grid;
}

img{
    width: 100%;
}
.li2{
    background-color: #427E80;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 3px 0px .1px #154454;
    color: #ffffff;
    width: 40%;
    align-self: end;
    justify-self: center;
    margin-bottom: 20px;
}
.li2:active{
    transform: translate(3px, 2px);
    box-shadow: 0px 0px 0px 0px #427E80;
}
.pEtiq{
    align-self: center;
}
.a1{
    color: #ffffff;
}
footer{
    width: 100%;
    height: 80px;
    background-color: #1d1d1d; 
    display: flex;
    color: #ffffff;
}
.cont1{
    width: 50%;
    height: 100%;
    display: flex;
}
.cont2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
}
.svg2{
    margin-top: 10px;
    margin-left: 40px;
    background-color: #1D1D1D;
    width: 180px; 
}
.div1{
    line-height: 8px;
    font-size: small;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.Debajo{
    width: 100%;
    height: 10px;
    background-color: #427E80;
}